.TitleOuter{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    color: #00c6ff ;
    font-family:Arial, Helvetica, sans-serif;
    padding:10px;
}
@media screen and (max-width:756px){
     .TitleOuter{
        width:400px;
        height:40px;
        display: flex;
        justify-content: center;
     }
     .TitleInner{
        font-size:25px;
     }
     
     
}